# macOS
.DS_Store
.AppleDouble
.LSOverride

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.gls
*.glg
*.glsdefs
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.acn
*.acr
*.alg

# BibTeX backups
*.bak
*.bib.bak
*.bib.updated
